
h2{
  color: yellowgreen;
}

#table{
  margin-top: 20px;
  font-size: 20px;
}
.th{
  padding-right: 100px;
}
#main{
  background-color: rgba(223, 223, 223, 0.721);
  height: 680px;
  margin: 10px;
}
.form{
  font-size: 20px;
  padding: 10px;
  font-style: italic;
}
